.header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
}
.nav {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
  gap: 30px;
  padding: 0 5%;
  transition: 0.05s;
}
.navOption {
  color: #5e5e5e;
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
}
.navOption::after {
  display: block;
  content: "";
  border-bottom: 2px solid #c04f1b;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: 0;
  transition: 0.3s;
}

.navOption:hover::after {
  transform: scaleX(1);
}
.navOption:hover {
  color: #c04f1b;
}
/* 
@keyframes borderAnimation {
  from {
    border-bottom-width: 0%;
  }
  to {
    border-bottom-width: 100%;
  }
} */
