.myProjectsContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;
  font-size: 20px;
  transition: 1s;
  border-radius: 5px;
}

.myProjectsContainer h2 {
  text-align: center;
}
.project {
  width: 500px;
  padding: 15px;
  border-radius: 10px;
}
.project:nth-child(2n) {
  background-color: rgb(26, 26, 26);
}

.project img {
  width: 100%;
  transition: 0.3s;
  max-height: 390px;
  border-radius: 5px;
}
.project img:hover {
  box-shadow: 0 0 10px white;
}
.projectName {
  text-align: center;
}
.description {
  text-align: center;
}
.myProjects {
  align-self: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.myProjectRef {
  width: fit-content;
  align-self: center;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .myProjectsContainer {
    width: 100%;
  }
  .myProjects {
    width: 100%;
  }
  .myProjectRef {
    width: 100%;
  }
}
